/* you will add css rules for element selectors and IDs */

html{
    font-size: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

/* you may add to or change the body rule */
body {
    font-family: sans-serif;
    color: #fff;
    background: #333;
    margin: 0;
}
img {
    max-width: 100%; /* DO NOT delete or change this line */
}

/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/

article {
    color: #000;
    margin: 0;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1 1 auto;
}

section {
    max-width: 50%;
    margin: 1rem;
}

header {
    font-size: 125%;
    padding: 1rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
    margin: 0; 
}

nav ul li{
    margin: 0;
    margin-left: 1rem;
    text-transform: uppercase;
    font-size:1.5rem;
}

footer{
    padding: 1rem;
    text-align: center;
}

/*ids*/
#cougar {
    background-color: #B26219;
    color: #FFF
}

#lion {
    background-color: #FFD5AE;
}

#tiger {
    background-color: #FFBD82;
}

/*classes*/
.text {
    font-size: 100%;
    line-height: 1.5em;
}

.text h2{
    margin: 0;
}

/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    color: #379CB2;
}
a:hover {
    color: #82E8FF;
}

#cougar a{
    color: #FFFF94;
}

#cougar a:hover{
    color: #FFF;
}

#lion a,#tiger a{
    color: #5E0080;
}

#lion a:hover,#tiger a:hover{
    color: #0D00C2;
}

nav ul li a{
    text-decoration: none;
}